@model Portfolio.Entity.Concrete.Experience

@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row container-fluid">
    <div class="col">
        <br>
        <h1>@ViewBag.v1</h1>
        @using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.ExperienceID)
            @Html.Label("Deneyim Başlığı")
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control"})
            @Html.Label("Açıklama")
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control"})
            @Html.Label("Resim")
            @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control"})
            <button class="btn-primary btn">Güncelle</button>

        }
    </div>
</div>
